@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome";

body {
    min-height: 100vh;
}

h1 a {
    &, &:hover, &:focus {
        text-decoration: none;
    }
}

.flex-parted {
    & {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    *:last-child {
        margin-left: auto;
    }
}

.header {
    padding: .5em 0;
    margin-bottom: .5em;
    border-bottom: 1px solid $btn-secondary-border;
}