{
    "presets": [
        [ "env", {
            "targets": {
                "node": "8"
            }
        } ]
    ],
    "plugins": [
        "transform-object-rest-spread",
        "syntax-dynamic-import",
        "babel-plugin-dynamic-import-node",
        ["transform-class-properties", { "spec": true }]
    ]
}