{
    "presets": [
        [ "env", {
            "targets": {
                "node": "7.10"
            }
        } ]
    ],
    "plugins": ["syntax-dynamic-import", "babel-plugin-dynamic-import-node", ["transform-class-properties", { "spec": true }]]
}